.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-container {
  width: 370px;
height: max-content;
  flex-direction: column;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name {
  font-size: 24px;
  margin: 0;
}
.movie-summary {
  margin-top: 0;
}
.movie-rating {
  font-size: 18px;
}
.movie-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.add-movie-form {
  display: flex;
flex-direction: column;
gap: 10px;
margin: 16px;
}
.counter-container {
  display: flex;
  gap: 10px;

}

.game-box {
  height:160px;
  border: 2px solid black;
  width: 160px;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* center */ 

}
/* body {
  background-color: whitesmoke;
} */

.not-found {
  text-align: center;
  font-size: 48px;
  margin: 0;
}

.movie-detail-container {
  max-width: 900px;
  padding: 24px;
}

.route-container {
  margin-top: 20px;
}